* p {
  font-family: 'Cabin', Sans-Serif;
  font-size: 14px;
  color: #C7C7C7;
}

* h1 {
  font-family: 'Roboto Condensed', Sans-Serif;
  font-size: 32px;
  color: #d5d5d5;
}

* h2 {
  font-family: 'Roboto Condensed', Sans-Serif;
  font-size: 24px;
}

* h3 {
  font-family: 'Roboto', Sans-Serif;
  font-size: 18px;
}

* h4 {
  font-family: 'Roboto', Sans-Serif;
  font-size: 16px;
}

* body {
  background-color: #2D2D2D;
}